@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {

	box-sizing: border-box;
}

body {
	background: url(/assets/github.jpg);
	background-size: cover;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

form {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

input[type="text"] {
	background-color: #333;
	outline: none;
	width: 100%;
	border: none;
	border-radius: 10px;
	color: #e3e3e3;
	padding: 0.8rem 1rem;
	margin-bottom: 2rem;
	font-family: inherit;
	font-size: 1rem;
	border: 2px solid rgb(97 39 132);
}

#details {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* User Profile */
#user-card,
#not-found-card {
	max-width: 800px;
	background-color: #292727;
	border-radius: 10px;
	display: flex;
	padding: 2.5rem;
	margin: 0 1.5rem;
}

#user-info {
	color: #eee;
	margin-left: 2rem;
}

img {
	border-radius: 50%;
	border: 8px solid rgb(97 39 132);
	height: 150px;
	width: 150px;
	margin-top: 20px;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	max-width: 400px;
}

li {
	display: flex;
	align-items: center;
}

span {
	font-weight: 700;
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

.repo {
	text-decoration: none;
	color: #fff;
	background-color: rgb(97 39 132);
	font-size: 0.7rem;
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	border-radius: 3px;
}

/* Error */
#InnerPara {
	color: rgb(244, 75, 75);
	font-size: 18px;
	margin: auto;
}

#not-found-card {
	width: 600px !important;
}

/* Footer */
footer {
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-container {
	margin: 0 auto;
}

.made-by {
	color: #fff;
	letter-spacing: 1px;
}

.social-links {
	margin-top: 10px;
}

.social-icon {
	display: inline-block;
	width: 30px;
	background-color: #333;
	color: #fff;
	border-radius: 50%;
	margin: 0 5px;
	line-height: 30px;
	font-size: 18px;
	transition: background-color 0.3s;
}

.social-icon:hover {
	background-color: rgb(97 39 132);
}

/* Responsiveness */
@media only screen and (max-width: 750px) {
	#user-card {
		flex-direction: column;
		align-items: center;
		padding: 1.5rem;
	}

	#user-info {
		margin-left: 0;
		text-align: center;
	}
}