@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(./Image/github.jpg);
	background-size: cover;


	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 20px;
}

/* Search */
#search {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

input[type="text"] {
	width: 70%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: rgb(74, 72, 72);
	color: #fff;
	outline: none
}

::placeholder {
	color: #fff;
}

button {
	padding: 10px 16px;
	background-color: rgb(201, 82, 231);
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: rgb(153, 63, 175);
}

/* User Profile */

#card {
	max-width: 800px;
	background-color: #292727;
	border-radius: 20px;
	display: flex;
	padding: 2rem;
	margin: 0 auto;
}

#details {
	text-align: center;
}

#InnerPara {
	color: rgb(244, 75, 75);
	font-size: 18px;
}

img {
	border-radius: 50%;
	border: 8px solid rgb(201, 82, 231);
	height: 150px;
	width: 150px;
	margin-top: 20px;
}

h2 {
	color: #fff;
}

p {
	display: flex;
	justify-content: center;
	padding: 20px;
	text-align: justify;
	color: #fff;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 14px;
	color: #fff;
	margin: 0px 60px 0px 60px;
}

li {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

span {
	font-weight: 700;
}

#repos {
	padding: 10px;
}

.repo {
	text-decoration: none;
	color: #fff;
	background-color: rgb(201, 82, 231);
	font-size: 12px;
	padding: 3px 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 5px;
}

/* Footer */

footer {
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
}

.made-by {
	font-size: 14px;
	color: #fff;
}

.social-links {
	margin-top: 10px;
}

.social-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #333;
	color: #fff;
	border-radius: 50%;
	margin: 0 5px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	transition: background-color 0.3s;
}

.social-icon:hover {
	background-color: #555;
}

.made-by {
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
	letter-spacing: 2px;
}

/* For screen width up to 750px */
@media only screen and (max-width: 750px) {

	.container {
		max-width: 92%;
	}

	#card {
		flex-direction: column;
		padding: 1rem;
	}

	p,
	li {
		/* margin: 0; */
		padding: 0;
		font-size: 14px;
	}

	h2 {
		font-size: 20px;
	}

	ul {
		margin: -10px;
		display: flex;
		justify-content: center;
	}

	li {
		padding: 4px;
	}

	img {
		height: 16vh;
		width: 16vh;
		margin: 0;
	}

	span {
		padding-right: 6px;
	}

	div#repos {
		margin: 0;
		padding: 0;
	}

	a.repo {
		font-size: 12px;
		padding: 2px 4px;
	}

	div.made-by {
		font-size: 12px;
	}

	.social-icon {
		width: 28px;
		height: 28px;
		font-size: 12px;
	}

	::placeholder {
		font-size: 12px;
	}

}